        html {
            font-size: 62.5%;
        }
        
        @media (max-width: 991px) {
            html {
                font-size: 47.5%;
            }
        }
        
        figure {
            margin: 0;
        }
        
        * {
            font-family: 'Roboto', sans-serif;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            list-style-type: none;
        }
        
        .col-lg-12 {
            padding: 0;
        }
        
        a:focus,
        a:hover {
            text-decoration: none;
        }
        
        a:link {
            text-decoration: none;
        }
        
        a:hover {
            color: #b6c4a7;
        }
        
        img {
            vertical-align: middle;
        }
        
        .bg_cover {
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        }
        /*===== All Button Style =====*/
        
        .main-btn {
            text-decoration: none;
            color: #FFFFFF;
            width: 192px;
            height: 67px;
            white-space: nowrap;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border-radius: 4px;
            cursor: pointer;
            z-index: 5;
            -webkit-transition: all 0.4s ease-out 0s;
            -moz-transition: all 0.4s ease-out 0s;
            -ms-transition: all 0.4s ease-out 0s;
            -o-transition: all 0.4s ease-out 0s;
            transition: all 0.4s ease-out 0s;
            background-color: #27AD6C;
            border: 0;
        }
        
        .main-btn:hover {
            background-color: rgba(111, 176, 240, 0.8);
            color: #fff;
        }
        /*===== NAVBAR =====*/
        
        .header_area {
            width: 1440px;
            margin: 0 auto;
        }
        
        .header_navbar {
            margin-top: 51px;
            width: 1440px;
            background: rgba(15, 17, 16, 0.1);
            position: absolute;
            z-index: 99;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }
        
        .container.one {
            margin: 0 60px;
        }
        
        nav.navbar.navbar-expand-lg {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
        
        ul#nav {
            display: flex;
            list-style-type: none;
            padding: 20px 0;
            margin: 0;
        }
        
        @media (max-width: 1399px) {
            ul#nav {
                margin-right: -460px;
            }
        }
        
        @media (max-width: 1199px) {
            nav.navbar.navbar-expand-lg {
                width: 842px;
            }
        }
        
        @media (max-width: 991px) {
            nav.navbar.navbar-expand-lg {
                width: 1440px;
            }
        }
        
        a.nav-item {
            font-size: 16px;
            line-height: 18.75px;
            font-weight: 400;
            text-decoration: none;
            color: #FFFFFF;
            opacity: 70%;
            margin-right: 40px;
        }
        /*===== MAIN CONTENT =====*/
        
        .Mask {
            width: 1440px;
            height: 800px;
            margin: 0 auto;
            background-color: #406b55;
        }
        
        @media(max-width: 1399px) {
            .Mask {
                width: 144.2rem;
            }
        }
        
        @media(max-width: 1199px) {
            .Mask {
                width: 143.8rem;
            }
        }
        
        @media(max-width: 991px) {
            .Mask {
                width: 140.8rem;
            }
        }
        
        .img_hero-image {
            mix-blend-mode: multiply;
            width: 1440px;
            height: 800px;
            object-fit: cover;
        }
        
        @media(max-width: 1399px) {
            .img_hero-image {
                width: 144.2rem;
            }
        }
        
        @media(max-width: 1199px) {
            .img_hero-image {
                width: 143.8rem;
            }
        }
        
        @media(max-width:991px) {
            .img_hero-image {
                width: 140.8rem;
            }
        }
        
        .main-content {
            width: 1440px;
            position: absolute;
            top: 259px;
        }
        
        .header_hero_content {
            grid-template-rows: repeat(3, 96px);
            -webkit-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-in 0s;
        }
        
        @media(max-width: 1399px) {
            .header_hero_content {
                width: 72vw;
                margin: 0 auto;
            }
        }
        
        h1.hero_title {
            font-size: 8.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 96px;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
        }
        
        p.hero_p {
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.8rem;
            letter-spacing: 0px;
            text-align: center;
            color: #FFFFFF;
            opacity: 0.7;
            height: 84px;
            width: 62.4rem;
            margin: 0 auto;
            margin-bottom: 3.9rem;
            margin-top: 2.9rem;
            opacity: 70%;
        }
        
        img.arrow {
            margin-left: 14.5px;
        }
        
        ul.hero_button {
            text-align: center;
        }
        
        a.main-btn.hero {
            padding: 24px 57.5px 24px 46.5px;
            font-weight: 400;
            font-size: 16px;
            line-height: 18.75px;
            text-align: center;
            font-style: normal;
            display: inline-block;
        }
        /*===== SECOND SECTION =====*/
        
        .container.second {
            margin-top: 145px;
            margin-bottom: 145px;
        }
        
        h2.title {
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0px;
            text-align: center;
            color: #9B9B9B;
            padding-bottom: 84px;
        }
        
        h4.title {
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: center;
            color: #27AD6C;
            margin-bottom: 10px;
        }
        
        .col-md-4.second {
            width: 300px;
            padding: 0;
        }
        
        .second_content img {
            width: 100%;
            padding-bottom: 40px;
        }
        
        p {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            text-align: center;
            color: #4A4A4A;
            opacity: 78%;
        }
        
        .row.one {
            width: 1060px;
            margin: 0 auto;
            justify-content: space-between;
        }
        
        #second.second_area {
            width: 1440px;
            margin: 0 auto;
        }
        
        @media(max-width:1399px) {
            .row.one {
                width: 1060px;
            }
        }
        
        @media(max-width:1199px) {
            .row.one {
                width: 1060px;
            }
        }
        
        @media(max-width:991px) {
            .row.one {
                width: 514px;
            }
        }
        /*===== THIRD SECTION =====*/
        
        h3.title {
            font-family: Roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 56px;
            letter-spacing: 0px;
            text-align: left;
            color: #9B9B9B;
        }
        
        h5.subtitle1 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: left;
            padding: 3px 0px 0px 6px;
            color: #27AD6C;
        }
        
        h5.subtitle2 {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0px;
            text-align: left;
            color: #27AD6C;
        }
        
        .container.third {
            width: 1165px;
            justify-content: space-between;
        }
        
        h3.title {
            margin-bottom: 27px;
        }
        
        .set {
            text-decoration: none;
            display: flex;
            margin-bottom: 28px;
        }
        
        .three {
            padding: 0;
            list-style-type: none;
        }
        
        img.globe {
            width: 24px;
            height: 24px;
        }
        
        li.date {
            list-style-type: none;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0px;
            text-align: left;
            color: #9B9B9B;
            opacity: 50%;
            padding: 7px 0px 0px 0px;
        }
        
        img.line {
            padding: 20px 0px;
        }
        
        .row.two {
            display: flex;
            margin-bottom: 90px;
        }
        
        .row.three {
            width: 1165px;
            align-items: center;
            justify-content: center;
            margin-bottom: 110px;
        }
        
        img.separator {
            align-items: center;
            padding: 0px 90px;
            justify-content: center;
            margin: 0;
        }
        
        img.third_row_line {
            height: 100%;
        }
        
        #third.third_area {
            width: 1440px;
            margin: 0 auto;
            margin-bottom: 42px;
        }
        
        @media (max-width: 1399px) {
            #third.third_area {
                margin-left: 3rem;
            }
        }
        
        @media (max-width: 1199px) {
            #third.third_area {
                margin-left: -16rem;
                padding-left: 35rem;
            }
        }
        
        @media (max-width: 991px) {
            #third.third_area {
                margin-left: -16rem;
                padding-left: 35rem;
            }
        }
        /*===== FOURTH SECTION =====*/
        
        section#fourth {
            width: 1440px;
            margin: 0 auto;
        }
        
        @media(max-width:1439px) {
            .container.fourth {
                width: 1440px;
            }
        }
        
        @media(max-width:1399px) {
            .container.fourth {
                width: 1440px;
            }
        }
        
        @media(max-width:1199px) {
            .container.fourth {
                display: flex;
            }
        }
        
        @media(max-width:991px) {
            .container.fourth {
                display: flex;
            }
        }
        
        .container.fourth {
            max-width: 1440px;
        }
        
        li.under-one {
            font-family: Roboto;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: center;
        }
        
        li.under-two {
            font-family: PingFang SC;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
        }
        
        li.list {
            text-decoration: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        /*===== FIFTH SECTION =====*/
        
        #fifth {
            width: 1440px;
            /* height: 1147px; */
            margin: 0 auto;
            background-color: #423633;
            padding-top: 145px;
        }
        
        .container.fifth {
            display: grid;
            grid-template-columns: auto auto auto;
            row-gap: 80px;
            column-gap: 75px;
            margin-bottom: 130px
        }
        
        ul.list {
            text-decoration: none;
            width: 315px;
            height: 115px;
            margin: 0;
            padding: 0;
            display: flex;
        }
        
        img.five {
            height: auto;
            margin-right: 15px;
        }
        
        h6.fifth {
            margin: 0px;
            padding-bottom: 9px;
            width: 308px;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0px;
            text-align: left;
            color: #FFFFFF;
        }
        
        p.fifth {
            text-align: left;
            width: 240px;
            height: 72px;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0px;
            color: #FFFFFF;
            opacity: 50%;
        }
        
        h2.title-four {
            font-size: 48px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0px;
            text-align: center;
            color: #9B9B9B;
            padding-bottom: 18px;
        }
        
        .under {
            width: 155px;
            display: flex;
            margin: 0 auto;
            list-style-type: none;
            margin-bottom: 31px;
        }
        
        li.one {
            font-family: Roboto;
            font-size: 14px;
            font-style: italic;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: center;
            color: #9B9B9B;
        }
        
        li.two {
            font-family: PingFang SC;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            text-align: center;
            color: #9B9B9B;
            padding-left: 1px;
            margin-left: 7px;
        }
        
        .last {
            width: 1440px;
            text-align: center;
        }
        
        img.last_img {
            margin-top: 93px;
            margin-bottom: 58px;
        }
        /*===== FOOTER SECTION =====*/
        
        footer {
            width: 1440px;
            margin: 0 auto;
            background: #333333;
            ;
        }
        
        .foot {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
        }
        
        .copyright {
            align-self: center;
        }
        
        li.item {
            color: #ffffff;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0px;
            text-align: left;
            list-style-type: none;
        }
        
        a.nav-foot {
            text-decoration: none;
            color: #FFFFFF;
            margin-right: 40px;
        }